* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: bottom center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: black;
}

body * {
    font-family: "Roboto", sans-serif;
    font-size: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

header div {
    height: 120px;
    margin: auto;


    border-radius: 50%;

    display: flex;
    padding: 4px;

}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32% auto;

    display: grid;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient();
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: gray;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 24px;
}

.films-list img {
    width: 90px;
    border-radius: 8px;
}

.series-list img {
    width: 90px;
    border-radius: 8px;
}

i {
    font-size: 40px;
}